[package]
name = "bytewax"
version = "0.8.0"
edition = "2021"

[lib]
name = "bytewax"
crate-type = ["cdylib"]

[package.metadata.maturin]
python-source = "pysrc"

[dependencies]
axum = { version = "0.4.3" }
log = { version = "0.4" }
pyo3 = { version = "0.15.1" }
pyo3-log = { version = "0.5.0" }
rand = { version = "0.8.4" }
scopeguard = { version = "1.1.0" }
serde = { version = "1.0.134" }
timely = { version = "0.12.0", features = ["bincode"] }
tokio = { version = "1.15.0", features = ["full"] }

[dev-dependencies]
pyo3 = { version = "0.15.1", default-features = false }

[features]
extension-module = ["pyo3/extension-module"]
default = ["extension-module"]

[profile.release]
debug = 1
