[package]
name = "bytewax"
version = "0.11.2"
edition = "2021"

[lib]
name = "bytewax"
crate-type = ["cdylib", "rlib"]

[package.metadata.maturin]
python-source = "pysrc"

[dependencies]
bincode = { version = "1.3.3" }
chrono = { version = "0.4", features = [ "serde" ] }
futures = { version = "0.3.21" }
log = { version = "0.4" }
# TODO: PyO3 pinned to current latest main commit, which includes pyo3->chrono integration
#       Change to version "0.17.2" as soon as it is released
# pyo3 = { version = "0.17.2", features = ["macros", "chrono"] }
pyo3 = { git = "https://github.com/pyo3/pyo3", rev = "86ce4d1a1", version = "0.17", features = ["macros", "chrono"] }
# TODO: pyo3-log too is pinned to a fork, so that it compiles together with the unreleased PyO3 version.
#       Change this to the version "0.7" as soon as PyO3 "0.17.2" itself is released.
#       The current pyo3-log version should work as it is, since it depends on pyo3 "~0.17".
# pyo3-log = "0.7"
pyo3-log = { git = "https://github.com/psykopear/pyo3-log", rev = "802b6f4", version = "0.7" }
scopeguard = { version = "1.1.0" }
send_wrapper = { version = "0.6.0" }
serde = { version = "1.0.134" }
serde_test = { version = "1.0.134" }
sqlx = { version = "0.6.1", features = [ "runtime-tokio-rustls", "postgres", "sqlite" ] }
timely = { version = "0.12.0", features = [ "bincode" ] }
tokio = { version = "1.20.1", features = [ "full" ] }

# For macos, use vendored gssapi
[target.'cfg(target_os = "macos")'.dependencies]
rdkafka = { version = "0.28.0", features = [ "cmake-build", "gssapi-vendored", "ssl-vendored" ] }

# For everything else, use system sasl-lib
[target.'cfg(not(target_os = "macos"))'.dependencies]
rdkafka = { version = "0.28.0", features = [ "cmake-build", "gssapi", "ssl" ] }

[dev-dependencies]
# TODO: PyO3 pinned to current latest main commit, which includes pyo3->chrono integration
#       Change to version "0.17.2" as soon as it is released
# pyo3 = { version = "0.17.2", default-features = false, features = ["macros", "chrono"] }
pyo3 = { git = "https://github.com/pyo3/pyo3", rev = "86ce4d1a1", version = "0.17", default-features = false, features = ["macros", "chrono"] }

[features]
extension-module = ["pyo3/extension-module"]
default = ["extension-module"]
