[package]
name = "bytewax"
version = "0.8.0-beta.2"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "bytewax"
crate-type = ["cdylib"]

[package.metadata.maturin]
python-source = "pysrc"

[dependencies]
axum = { version = "0.4.3" }
env_logger = { version ="0.8.4" }
log = { version = "0.4" }
pyo3 = { version = "0.15.1" }
rand = { version = "0.8.4" }
scopeguard = { version = "1.1.0" }
serde = { version = "1.0.134" }
timely = { version = "0.12.0", features = ["bincode"] }
tokio = { version = "1.15.0", features = ["full"] }

[dev-dependencies]
criterion = { version = "0.3", features = ["html_reports"] }
pyo3 = { version = "0.15.1", default-features = false }

[[bench]]
name = "benchmarks"
harness = false

[features]
extension-module = ["pyo3/extension-module"]
default = ["extension-module"]

[profile.release]
debug = 1
