[build-system]
requires = ["maturin>=1"]
build-backend = "maturin"

[project]
name = "bytewax"
requires-python = ">=3.8"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Programming Language :: Rust",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Topic :: System :: Networking",
    "Topic :: System :: Distributed Computing",
]
dependencies = [
    "jsonpickle>=3",
]
extras = [
    "dev",
    "docs",
    "kafka",
    "test",
]

[project.optional-dependencies]
kafka = [
    "confluent-kafka<=2.0.2",  # Update this to a broader bound once we fix CI.
]
test = [
    "myst-docutils==0.17.0",
    "pytest==7.1.0",
]
docs = [
    "pdoc3==0.10.0",
]
fmt = [
    "black==22.3.0",
]
dev = [
    "bytewax[kafka,test,docs,fmt]",
    "pre-commit==2.19.0",
    "ruff==0.0.284",
]

[project.urls]
"Source Code" = "https://github.com/bytewax/bytewax"
Issues = "https://github.com/bytewax/bytewax/issues"
Documentation = "https://docs.bytewax.io/"
Changelog = "https://github.com/bytewax/bytewax/blob/main/CHANGELOG.md"

[metadata]
long_description = "file: README.md"
long_description_content_type = "text/markdown"

[tool.pytest.ini_options]
addopts = "-v --doctest-modules"
doctest_optionflags = "NORMALIZE_WHITESPACE"
testpaths = [
    "docs",
    "pysrc",
    "pytests",
]

[tool.maturin]
python-source = "pysrc"

[tool.ruff]
select = [
    "A",
    "B",
    "D",
    "DTZ",
    "E",
    "EM",
    "F",
    "I",
]

[tool.ruff.pydocstyle]
convention = "google"

[tool.ruff.per-file-ignores]
"examples/*.py" = ["D"]
"pytests/test_flows/*.py" = ["D"]
"test_*.py" = ["D"]
