[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
myst-parser = "*"
sphinx-autodoc2 = "*"
sphinxcontrib-mermaid = "*"
pydata-sphinx-theme = "*"
sphinx-favicon = "*"

[dev-packages]
sphinx-autobuild = "*"

[requires]
python_version = "3.10"
